<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="main.taskmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:groupName=".Display.MainActivity">
            <intent-filter>
                <action android:groupName="android.intent.action.MAIN"/>

                <category android:groupName="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:groupName=".Display.CreateGroup"/>
        <activity android:groupName=".Display.CreateUsers"/>
        <activity android:groupName=".Display.DisplayUser"/>
        <activity android:groupName=".Display.HomePage">
        </activity>
        <activity android:groupName=".Display.GroupSelection">
        </activity>
    </application>

</manifest>