<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julien.needsomedosome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Display.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Display.Password"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Display.LandingPage" />
        <activity android:name=".Display.Control.CreateGroupPage" />
        <activity android:name=".Display.Control.CreateUserPage" />
        <activity android:name=".Display.DisplayUsers" />
        <activity android:name=".Display.Control.DeleteGroupPage" />
        <activity android:name=".Display.Control.DeleteUserPage" />
        <activity android:name=".Display.HomePage" />
        <activity android:name=".Display.AssignTask" />
        <activity android:name=".Display.ActivitySettings" />
        <activity android:name=".Display.Control.ActivityEasterEgg"></activity>
    </application>

</manifest>